<div class="row">
  <div class="col-md-4">
      <div class="card-body">
        <form #parkingForm="ngForm" (ngSubmit)="addParking(parkingForm)">
          <h1 align="center">Iniciar servicio</h1>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="placa"
              placeholder="Ingrese la placa"
              [(ngModel)]="parkingService.selectedParking.placa"
            />
          </div>
          <hr>
          <div class="form-group">
              <fieldset>
                <legend>Tipo de Vehículo</legend>
                <label>
                  <input type="radio" name="tipo" value="carro" [(ngModel)]="parkingService.selectedParking.tipo"> carro
                </label>
                <div>

                </div>
                <label>
                    <input type="radio" name="tipo" value="moto" [(ngModel)]="parkingService.selectedParking.tipo"> moto
                </label>

              </fieldset>
            </div>

          <hr>

          <div class="form-group">
            <legend>Hora de entrada</legend>
            <input type="datetime-local" name="entrada" [(ngModel)]="parkingService.selectedParking.entrada">
          </div>

          <hr>

          <button class="btn btn-success">
            Ingreso
          </button>

        </form>

        <form>
          <hr>
          <h1 align="center">Terminar servicio</h1>
          <div class="form-group">
            <input
              type="text"
              name="placa"
              class="form-control"
              placeholder="Ingrese la placa"
              [(ngModel)]="parkingService.selectedParking.placa"
            />
          </div>
          <hr>
          <div class="form-group">
            <legend>Hora de salida</legend>
            <input type="datetime-local" name="salida" [(ngModel)]="parkingService.selectedParking.salida">
          </div>
          <hr>

          <button class="btn btn-primary" (click)="editParking();">
            Salida
          </button>
        </form>

      </div>
  </div>
  <div class="col-md-8">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>tipo</th>
              <th>placa</th>
              <th>entrada</th>
              <th>salida</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let parking of parkingService.parking">
              <td>{{ parking.tipo }}</td>
              <td>{{ parking.placa }}</td>
              <td>{{ parking.entrada }}</td>
              <td>{{ parking.salida }}</td>
              <!-- <td>
                <button class="btn btn-danger" (click)="deleteParking(parking.placa)">Eliminar</button>
              </td> -->
            </tr>
          </tbody>
        </table>
  </div>
</div>
